@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-grey: rgba(247, 247, 247, 1);
	--background-white: rgba(255, 255, 255, 1);
	--dark-black: rgba(61, 61, 61, 1);
	--primary-violet: rgba(144, 61, 247, 1);
}

@media (prefers-color-scheme: light) {
	:root {
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: var(--dark-black);
	background: var(--background-white);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
